.panel-match-result label {
    padding-left: 5px;
    padding-right: 5px;
}

.row-reg-text .label1 {
    /*width: 10px !important;*/
    font-size: 20px !important;
}

.row-reg-text .label2 {
    /*width: 10px !important;*/
    font-size: 20px !important;
}

.input-text {
    height: 100px !important;
}

.panel-match-result {
    /*height: 200px !important;*/
}

.panel-match-groups {
    /*height: 200px !important;*/
}